.todo {
  display: flex;
  justify-content: space-between;
  width: 432px;
  min-height: 75px;
  border-radius: 10px;
  padding: 28px 21px;
  background-color: #15101c;
}

.todoText {
  color: #9e78cf;
}

.todoImages {
  display: flex;
  gap: 8px;
}

.deleteButton {
  display: inline-block;
  width: 23px;
  background: url("../../images/TrashSimple.svg") no-repeat 50% 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.deleteButton:hover {
  background: url("../../images/TrashSimplehover.svg") no-repeat 50% 50%;
}

.doneButton {
  display: inline-block;
  width: 22px;
}

.doneButton:hover {
  cursor: pointer;
}

.editButton {
  display: inline-block;
  width: 22px;
  cursor: pointer;
}

.editing {
  color: #9e78cf;
}

.editingButton {
  position: relative;
  left: 130px;
  color: #9e78cf;
}
