.button {
	width: 40px;
	height: 40px;
	background-color: #9E78CF;
	color: #ffffff;
	border-radius: 30%;
	font-size: 30px;
	margin-left: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
}